<footer class="site-footer">

<div id="weather"></div>

<script type="text/javascript">
	// Docs at http://simpleweatherjs.com
	$(document).ready(function() {
	  $.simpleWeather({
	    location: 'Vancouver, CA',
	    woeid: '',
	    unit: 'c',
	    success: function(weather) {
	      html = '<h2><i class="icon-'+weather.code+'"></i> '+weather.temp+'&deg;'+weather.units.temp+'</h2>';
	      html += '<ul><li>high: '+weather.high+'&deg;C</li>';
	      html += '<li>low: '+weather.low+'&deg;C</li>';
	      html += '<li class="currently">'+weather.currently+'</li>';
	      html += '<li>'+weather.wind.direction+' '+weather.wind.speed+' '+weather.units.speed+'</li></ul>';
	  
	      $("#weather").html(html);
	    },
	    error: function(error) {
	      $("#weather").html('<p>'+error+'</p>');
	    }
	  });
	});
	
</script>

</footer>
