<!--<header>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 hidden-xs " style="margin-top: 10px;margin-bottom: 10px;">
			<h1 class="stretch" style="padding: 10px;">VOWELS&nbsp;BREWING</h1>
		</div>
		<div class="hidden-lg hidden-md hidden-sm visible-xs-12 " style="margin-top: 10px;margin-bottom: 10px;">
			<h2 class="stretch" style="padding: 10px;">VOWELS&nbsp;BREWING</h1>
		</div>
	</div>
</header>-->

<div class="row" style="margin-top: 10px;margin-bottom: 10px;">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="vbwrapper">

		    <div class="vbletters">V</div>
		    <div class="vbletters">O</div>
		    <div class="vbletters">W</div>
		    <div class="vbletters">E</div>
		    <div class="vbletters">L</div>
		    <div class="vbletters">S</div>
		    <div class="vbletters">&nbsp</div>
		    <div class="vbletters">B</div>
		    <div class="vbletters">R</div>
		    <div class="vbletters">E</div>
		    <div class="vbletters">W</div>
		    <div class="vbletters">I</div>
		    <div class="vbletters">N</div>
		    <div class="vbletters">G</div>

		    <span class="vbstretch"></span>
		</div>
	</div>
</div>
